:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

* {
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f4eae0;
  height: 100vh;
  margin: 0px;
}

h3 {
  margin: 0px;
}

#container {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  height: 100vh;
  /* width: 100%; */
  /* border: 10px double black; */
}

.title {
  font-size: 1.5rem;
}

.player-container {
  width: 20rem;
  align-self: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.player-container > div > h3 {
  font-size: 1.5rem;
}

.player1-logo,
.player2-logo {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container div:nth-child(2) {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-name1,
.edit-name2 {
  width: 20px;
  height: 20px;
}

.edit-name1:hover,
.edit-name2:hover {
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.title {
  margin: 20px;
  background-color: #000000;
  min-width: 500px;
  padding: 20px 30px;
  color: #ffffff;
  border: 3px solid #000000;
  text-align: center;
  border-radius: 10px;
}

.player-turn {
  font-size: 1.5rem;
}

#board {
  /* height: 300px; */
  /* width: 300px; */
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.cells {
  border: 1px solid black;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cells:first-child,
.cells:nth-child(2),
.cells:nth-child(3) {
  border-top: none;
}

.cells:nth-child(7),
.cells:nth-child(8),
.cells:last-child {
  border-bottom: none;
}

.cells:nth-child(3n + 1) {
  border-left: none;
}

.cells:nth-child(3n + 3) {
  border-right: none;
}

.cells.x,
.cells.circle {
  cursor: not-allowed;
}

/* Create X and Circle effects */

/* x */

.cells.x::before,
.cells.x::after,
.player1-logo::before,
.player1-logo::after {
  background-color: #000000;
}

#board.x .cells:not(.x):not(.circle):hover::before,
#board.x .cells:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cells.x::before,
.cells.x::after,
#board.x .cells:not(.x):not(.circle):hover::before,
#board.x .cells:not(.x):not(.circle):hover::after,
.player1-logo::before,
.player1-logo::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cells.x::before,
#board.x .cells:not(.x):not(.circle):hover::before,
.player1-logo::before {
  transform: rotate(45deg);
}

.cells.x::after,
#board.x .cells:not(.x):not(.circle):hover::after,
.player1-logo::after {
  transform: rotate(-45deg);
}

/* circle */

.cells.circle::before,
.cells.circle::after,
.player2-logo::before,
.player2-logo::after {
  background-color: #000000;
}

#board.circle .cells:not(.x):not(.circle):hover::before,
#board.circle .cells:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cells.circle::before,
.cells.circle::after,
#board.circle .cells:not(.x):not(.circle):hover::before,
#board.circle .cells:not(.x):not(.circle):hover::after,
.player2-logo::before,
.player2-logo::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cells.circle::before,
#board.circle .cells:not(.x):not(.circle):hover::before,
.player2-logo::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cells.circle::after,
#board.circle .cells:not(.x):not(.circle):hover::after,
.player2-logo::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #f4eae0;
}

/* -- */

.dialog {
  padding: 0;
  border: 0;
}
.restart-btn {
  height: 40px;
  width: 70px;
  font-size: 1rem;
}
